In [729]:
import pymongo as mg
import pandas as pd
client = mg.MongoClient(host='mongodb://localhost:27017')
database = client['db_NHIS']
collection = database['merged_collection6']
cursor = collection.find({})
list_D20 = list(cursor)

#### 고혈압환자 분석
- 목표변수: 고혈압환자
- 설명변수: 나이, 병원방문경로(FORM_CD), 입원기간(VSHSP_DD_CNT), 수술여부(OPRTN_YN), 진료결과(MCARE_RSLT_TYPE)

In [730]:
df_D20 = pd.DataFrame(list_D20)
df_D20

,_id,RN_INDI,BTH_YYYY,DTH_YYYYMM,COD1,COD2,RN_KEY,RN_INST,MDCARE_STRT_DT,FORM_CD,...,OPRTN_YN,MDCARE_DD_CNT,VSHSP_DD_CNT,TOT_PRSC_DD_CNT,MCARE_RSLT_TYPE,EDC_ADD_RT,ED_RC_TOT_AMT,EDC_SBA,EDC_INSUR_BRDN_AMT,STD_YYYY
0,64e6c14fe04b422536ad251f,294364,1921LE,200707.0,T08-T14,W00-W19,2002080298703,26452,20020830,3,...,0,1,1,3,5.0,0.15,10590,3000,7590,2002
1,64e6c14fe04b422536ad2520,294364,1921LE,200707.0,T08-T14,W00-W19,2002090466395,63715,20020910,3,...,0,1,1,2,5.0,0.15,16520,4950,11570,2002
2,64e6c14fe04b422536ad2521,294364,1921LE,200707.0,T08-T14,W00-W19,2002091053122,63715,20020909,3,...,0,3,3,3,5.0,0.15,27620,9000,18620,2002
3,64e6c14fe04b422536ad2522,294364,1921LE,200707.0,T08-T14,W00-W19,2002020488631,23506,20020208,3,...,0,1,1,3,5.0,0.15,12920,3000,9920,2002
4,64e6c14fe04b422536ad2523,294364,1921LE,200707.0,T08-T14,W00-W19,2002060822342,23506,20020628,3,...,0,1,1,0,5.0,0.15,14230,3000,11230,2002
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
137158,64e6c178e04b422536af3cf7,3000758,2015,NaN,NaN,NaN,2015050998151,79884,20150506,3,...,0,2,1,0,1.0,0.15,11280,2300,8980,2015
137159,64e6c178e04b422536af3cf8,3000758,2015,NaN,NaN,NaN,2015031024807,79884,20150307,3,...,0,2,1,0,1.0,0.15,19640,3700,15940,2015
137160,64e6c178e04b422536af3cf9,3000758,2015,NaN,NaN,NaN,2015050363901,79884,20150526,3,...,0,2,1,0,1.0,0.15,13470,2800,10670,2015
137161,64e6c178e04b422536af3cfa,3000758,2015,NaN,NaN,NaN,2015040129477,79884,20150425,3,...,0,2,1,0,1.0,0.15,13530,2600,10930,2015
137162,64e6c178e04b422536af3cfb,3000758,2015,NaN,NaN,NaN,2015092341857,122565,20150927,3,...,0,3,1,0,1.0,0.25,21730,6800,14930,2015

In [731]:
# df_D20.to_csv('./NSC2_D20.csv')

In [732]:
df_D20[['SICK_SYM1']]

       SICK_SYM1
0           L028
1           J030
2           J030
3           K291
4           M545
...          ...
137158      J209
137159      J209
137160      J209
137161      J209
137162       J00

[137163 rows x 1 columns]

In [733]:
# condition = (df_D20['SICK_SYM1'] == 'I10')
df_D20_hyper = df_D20[df_D20['SICK_SYM1'] == 'I10']
df_D20_hyper

,_id,RN_INDI,BTH_YYYY,DTH_YYYYMM,COD1,COD2,RN_KEY,RN_INST,MDCARE_STRT_DT,FORM_CD,...,OPRTN_YN,MDCARE_DD_CNT,VSHSP_DD_CNT,TOT_PRSC_DD_CNT,MCARE_RSLT_TYPE,EDC_ADD_RT,ED_RC_TOT_AMT,EDC_SBA,EDC_INSUR_BRDN_AMT,STD_YYYY
190,64e6c14fe04b422536ad25dd,646257,1921LE,200805.0,A15-A19,NaN,2002070306096,57097,20020710,3,...,0,1,1,30,5.0,0.15,7570,3000,4570,2002
195,64e6c14fe04b422536ad25e2,646257,1921LE,200805.0,A15-A19,NaN,2002080588993,57097,20020805,3,...,0,2,2,60,5.0,0.15,18160,6000,12160,2002
197,64e6c14fe04b422536ad25e4,646257,1921LE,200805.0,A15-A19,NaN,2002100841957,57097,20021017,3,...,0,1,1,30,5.0,0.15,7570,3000,4570,2002
284,64e6c14fe04b422536ad263b,646257,1921LE,200805.0,A15-A19,NaN,2007101419963,75196,20071008,3,...,0,1,1,7,1.0,0.15,14200,4200,10000,2007
769,64e6c14fe04b422536ad2820,966199,1921LE,201409.0,J69,NaN,2004030950967,44114,20040312,3,...,0,1,1,7,5.0,0.15,7310,1500,5810,2004
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
124484,64e6c178e04b422536af0b75,314882,2005,NaN,NaN,NaN,2005120635229,110842,20051220,3,...,0,1,1,30,1.0,0.15,9050,3000,6050,2005
124485,64e6c178e04b422536af0b76,314882,2005,NaN,NaN,NaN,2005060585142,110842,20050614,3,...,0,1,1,30,1.0,0.15,9050,3000,6050,2005
124486,64e6c178e04b422536af0b77,314882,2005,NaN,NaN,NaN,2005070407648,110842,20050716,3,...,0,1,1,30,1.0,0.15,9050,3000,6050,2005
124495,64e6c178e04b422536af0b80,314882,2005,NaN,NaN,NaN,2006010136092,110842,20060123,3,...,0,1,1,30,1.0,0.15,9380,3000,6380,2006
124590,64e6c178e04b422536af0bdf,314882,2005,NaN,NaN,NaN,2010110318764,127359,20101125,3,...,0,1,1,30,1.0,0.15,12280,1500,10780,2010

#### 1. 나이별 고혈압 환자 분포

In [734]:
import re
df_D20_hyper.loc[:, 'BTH_YYYY'] = df_D20_hyper['BTH_YYYY'].astype(str)

C:\Users\04-17\AppData\Local\Temp\ipykernel_11184\1884329530.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_D20_hyper.loc[:, 'BTH_YYYY'] = df_D20_hyper['BTH_YYYY'].astype(str)

In [735]:
pattern = r'^(\w{4})'
df_D20_hyper['BTH_YYYY'] = df_D20_hyper['BTH_YYYY'].str.extract(pattern)

C:\Users\04-17\AppData\Local\Temp\ipykernel_11184\3818979411.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_D20_hyper['BTH_YYYY'] = df_D20_hyper['BTH_YYYY'].str.extract(pattern)

In [736]:
df_D20_hyper['BTH_Year'] = df_D20_hyper['BTH_YYYY']
df_D20_hyper['BTH_Year']

C:\Users\04-17\AppData\Local\Temp\ipykernel_11184\2672056311.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_D20_hyper['BTH_Year'] = df_D20_hyper['BTH_YYYY']

190       1921
195       1921
197       1921
284       1921
769       1921
          ...
124484    2005
124485    2005
124486    2005
124495    2005
124590    2005
Name: BTH_Year, Length: 4629, dtype: object

In [737]:
# df_D20_hyper['DTH_YYYYMM'] = pd.to_datetime(df_D20_hyper['DTH_YYYYMM'], unit='s')
# df_D20_hyper['DTH_YYYYMM']

In [738]:
# from datetime import datetime


# df_D20_hyper['DTH_YYYYMM']
# df_D20_hyper['DTH_YYYYMM'].astype(str)
df_D20_hyper['BTH_Year'] = pd.to_datetime(df_D20_hyper['BTH_Year'])
# df_D20_hyper['DTH_YYYYMM']
def age(year):
    if year.year >= 1983:
        return 'People under 40'
    elif 1982 >= year.year >= 1959:
        return 'People in their 40s to 64'
    else:
        return 'People 65 and older'
df_D20_hyper['BTH_Year'] = df_D20_hyper['BTH_Year'].apply(age)
df_D20_hyper[['BTH_Year', 'BTH_YYYY', 'RN_INDI']]

C:\Users\04-17\AppData\Local\Temp\ipykernel_11184\3731368664.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_D20_hyper['BTH_Year'] = pd.to_datetime(df_D20_hyper['BTH_Year'])
C:\Users\04-17\AppData\Local\Temp\ipykernel_11184\3731368664.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_D20_hyper['BTH_Year'] = df_D20_hyper['BTH_Year'].apply(age)

                   BTH_Year BTH_YYYY  RN_INDI
190     People 65 and older     1921   646257
195     People 65 and older     1921   646257
197     People 65 and older     1921   646257
284     People 65 and older     1921   646257
769     People 65 and older     1921   966199
...                     ...      ...      ...
124484      People under 40     2005   314882
124485      People under 40     2005   314882
124486      People under 40     2005   314882
124495      People under 40     2005   314882
124590      People under 40     2005   314882

[4629 rows x 3 columns]

In [739]:
# df_D20['DTH_YYYYMM'] = df_D20['DTH_YYYYMM'].str.extract(r'^(\d{4})')
# df_D20['DTH_YYYYMM'] = pd.to_datetime(df_D20.DTH_YYYYMM)
# df_D20['Age'] = df_D20['BTH_YYYY'].apply(age)
# df_D20['Age']

#### 2. 나이 별 본인부담금 추이

In [744]:
df_path = df_D20_hyper[['FORM_CD', 'RN_INDI', 'BTH_Year']]
df_path

        FORM_CD  RN_INDI             BTH_Year
190           3   646257  People 65 and older
195           3   646257  People 65 and older
197           3   646257  People 65 and older
284           3   646257  People 65 and older
769           3   966199  People 65 and older
...         ...      ...                  ...
124484        3   314882      People under 40
124485        3   314882      People under 40
124486        3   314882      People under 40
124495        3   314882      People under 40
124590        3   314882      People under 40

[4629 rows x 3 columns]

In [741]:
df_path.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 137163 entries, 0 to 137162
Data columns (total 2 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   FORM_CD  137163 non-null  int64
 1   RN_INDI  137163 non-null  int64
dtypes: int64(2)
memory usage: 2.1 MB