In [9]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import matplotlib as mpl
mpl.rc('font', family = 'Malgun Gothic')
df_H = pd.read_csv('../../datasets/RecurrenceOfSurgery.csv')
df_H[['입원기간', '입원일자', '퇴원일자']][:10]

   입원기간      입원일자      퇴원일자
0     2  20190713  20190716
1     1  20190715  20190716
2     1  20190729  20190801
3     1  20190731  20190803
4     2  20190903  20190907
5     1  20190905  20190907
6     1  20190622  20190626
7     1  20190330  20190402
8     1  20191203  20191206
9     2  20191210  20191213

In [4]:
df_D = df_H[['입원기간', '당뇨여부']]
df_D

      입원기간  당뇨여부
0        2     0
1        1     0
2        1     0
3        1     0
4        2     0
...    ...   ...
1739    12     0
1740     2     0
1741     3     0
1742     3     0
1743     3     0

[1744 rows x 2 columns]